.cart-icon {
  width: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 35px;
    // height: 24px;
  }


  .item-count {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    bottom: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .cart-icon .item-count {
    bottom: 3%;
  }
}
@media only screen and (min-width: 900px) {

  .shopping-icon:hover {
    transform: scale(1.1);
  }
}
